<div class="homepage">
  <div class="sidebar">
    <div class="search-bar-container">
      <input type="search" placeholder="Search a title..." #filter />
      <button
        type="button"
        class="search-button"
        (click)="filterResults(filter.value)"
      >
        Search
      </button>
    </div>

    <div class="sidebar-item">
      <h3>Filter by</h3>
      <button class="filter-button" (click)="resetBookList()">All books</button>
      <button class="filter-button" (click)="filterBooksByRating(4)">
        Top rated
      </button>

      <h4>Thematic</h4>
      <button
        class="filter-button"
        (click)="FilterBooksByGenre('Science Fiction')"
      >
        Science Fiction
      </button>
      <button class="filter-button" (click)="FilterBooksByGenre('Horror')">
        Horror
      </button>
      <button class="filter-button" (click)="FilterBooksByGenre('Thriller')">
        Thriller
      </button>
      <button class="filter-button" (click)="FilterBooksByGenre('Fantasy')">
        Fantasy
      </button>
      <hr />
      <button class="filter-button" (click)="FilterBooksByTheme('1970s')">
        1970's
      </button>
      <button class="filter-button" (click)="FilterBooksByTheme('1980s')">
        1980's
      </button>
    </div>
    <div class="sidebar-item">
      <h3>Sort by</h3>
      <button class="filter-button" (click)="SortBooksByPopularity()">
        Popularity (TODO)
      </button>
    </div>
  </div>

  <div class="content">
    <div class="content-header">
      <h2 class="content-header_text">{{ headerText }}</h2>
      <p class="content-header_subtext">{{ headerSubtext }}</p>
    </div>
    <div class="booklist">
      @for (book of filteredBooks; track $index) {
      <a [routerLink]="['/book-details', book.key]" class="booklist-item">
        <div class="booklist-item_cover">
          <img [src]="book.covers | coverUrl" [alt]="book?.title" />
        </div>
        <p>{{ book.title }}</p>
      </a>

      } @empty {
      <p>Loading...</p>
      <!-- Permet d'afficher un message en attendant que les données se chargent-->
      }
    </div>
  </div>
</div>
