.homepage {
    display: flex;
}

.sidebar {
    padding: 2rem;
    border-right: 1px solid rgb(187, 187, 187);
    min-width: 15%;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
}

.sidebar-item h3 {
    font-size: 1rem;
}

.search-bar-container {
    display: flex;
}

.search-button {
    background-color: #ae1605;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.filter-button {
    text-align: left;
    background: none;
    border: none;
    color: #ae1605;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: 0.9rem;
    margin: 3px 0;
}
.filter-button:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
}

.content-header {
    margin-left: 40px;
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.content-header_subtext {
    color: #ae1605;
    font-size: 0.8rem;
}


.booklist {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 40px;
}

.booklist-item {
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(187, 187, 187, 0.5);
    border-radius: 10px;
}

.booklist-item:hover {
    background-color: rgba(215, 215, 215, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ae1605;
}

.booklist-item_cover {
    width: 100%;
    height: 200px;
}

.booklist-item_cover img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.booklist-item p {
    margin: 10px 0;
    text-align: center;
}