header {
    background-color: #333333;
    color: white;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    margin-bottom: 30px;
    padding: 20px;
}

header h1 {
    font-size: 2.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header img {
    width: 100px;
    height: 100px;
}