body {
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: inherit;
}