.details {
    display: flex;
    margin: 50px 200px 50px 80px;
}

.details-cover {
    flex: 1;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.details-cover img {
    max-height: 450px;
}


.details-info_container--title {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 0px;
    padding: 0;
}

.details-info_container {
    flex: 2;
}

.details-info {
    display: flex;
    text-align: center;
    gap: 16px;
    margin: 20px 0;
}

.details-info_item {
    flex: 1;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    padding: 5px;
    max-width: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.details-info_item--title {
    color: rgb(115, 115, 115);
    font-size: 0.8rem;
    line-height: 1rem;
}

.details-info_item--value {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1rem;
    color: #333333;
}

.details h4 {
    margin: 0;
    margin-top: 2.5rem;
    color: rgb(57, 57, 57);
}

.book-excerpt {
    font-style: italic;
    color: rgb(57, 57, 57);
}

.back-link {
    align-self: flex-start;
    margin: 50px 10%;
    color: #ae1605;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.back-link:hover {
    text-decoration: underline;
}