<a routerLink="" class="back-link"> ᐊ Back to the list </a>

<div class="details">
  <div class="details-cover">
    @if(bookCover) {
    <img
      [src]="'https://covers.openlibrary.org/b/id/' + bookCover + '-L.jpg'"
      alt="{{ bookDetails?.title }}"
    />
    } @else {
    <img
      src="https://dataintelligence.at/wp-content/uploads/2023/09/Sourdough_Bread1.jpg"
    />
    }
  </div>

  <div class="details-info_container">
    <h1 class="details-info_container--title">{{ bookDetails?.title }}</h1>

    <div class="details-info">
      <div class="details-info_item">
        <p class="details-info_item--title">Year of Publication</p>
        <p class="details-info_item--value">
          @if (bookDetails?.first_publish_year) {
          {{ bookDetails?.first_publish_year }}
          } @else { N/A }
        </p>
      </div>

      <div class="details-info_item">
        <p class="details-info_item--title">Number of Pages</p>
        <p class="details-info_item--value">
          @if (bookDetails?.number_of_pages_median) {
          {{ bookDetails?.number_of_pages_median }}
          } @else { N/A }
        </p>
      </div>

      <div class="details-info_item">
        <p class="details-info_item--title">Already Read</p>
        <p class="details-info_item--value">
          @if (bookDetails?.already_read_count ) {
          {{ bookDetails?.already_read_count }}
          } @else { N/A }
        </p>
      </div>

      @if(bookDetails?.ratings_average){
      <div class="details-info_item">
        <p class="details-info_item--title">Ratings Average</p>
        <p class="details-info_item--value">
          {{ bookDetails?.ratings_average | rating}} /5
        </p>
      </div>
      }
    </div>

    <!-- Si description est un objet qui contient value, afficher le contenu de value, sinon afficher directement le contenu de description -->
    @if (bookDescriptionAndCover?.description?.value) {
    <p>{{ bookDescriptionAndCover?.description?.value }}</p>
    } @else if(bookDescriptionAndCover?.description){
    <p>{{ bookDescriptionAndCover?.description }}</p>
    } @else {
    <p>No description available.</p>
    } @if(bookExcerpt){
    <h4>Excerpt :</h4>
    <p class="book-excerpt">"{{ bookExcerpt }}"</p>
    }
  </div>
</div>
